html, body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

h1 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #000;
}

.info-h1 {
    color: #fff;
    text-align: center;
    width: 100%;
}

.p-info {
    color: #fff;
    font-size: 1rem;
    line-height: 1.5;
}

.container-1 {
    background-image: url('../img/comidarica.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;
    padding: 20px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.cont-info {
    position: relative;
    padding: 20px;
    background-color: #00000062;
    max-width: 500px;
    width: 100%;
    margin: 20px 0;
}

.container-logo {
    width: 100%;
    max-width: 280px;
    height: 280px;
    margin-bottom: 20px;
    background-color: #00000062;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    max-width: 80%;
    height: auto;
}

.inp {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textbox {
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid #4caf50;
}

.textbox i {
    width: 26px;
    float: left;
    text-align: center;
}

.textbox input {
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 10px;
}

.btn {
    width: 100%;
    background: none;
    border: 2px solid #4caf50;
    color: white;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
}

@media (min-width: 768px) {
    .info {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .container-logo {
        margin-bottom: 0;
        margin-right: 20px;
    }

    .cont-info {
        margin: 0;
    }

    .info-h1 {
        font-size: 2rem;
    }

    .p-info {
        font-size: 1.125rem;
    }
}

@media (min-width: 1024px) {
    .container-1 {
        padding: 40px;
        height: 600px;
    }

    .logo {
        max-width: 200px;
    }

    .info-h1 {
        font-size: 2.5rem;
    }

    .p-info {
        font-size: 1.25rem;
    }
}
